<!--  home das ofertas -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{base :: head}"></head>
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido}">Todos</a>
					<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido/aguardando}">Aguardando</a>
					<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido/aprovado}">Aprovado</a>
					<a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido/entregue}">Entregue</a>
				</div>
				<a href="/pedido/formulario"><button class="btn btn-outline-secondary">Novo</button></a>
			</nav>
			<div class="card mb-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-4">
							<div class="row">
								<div class="col-md-5">Valor: <input /></div>
								<div class="col-md-7">Data Entrega:  <input /></div>
							</div>
							
							<div>Produto</div>
							<div><a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
								
							<div>Descrição</div>
							<div>
								<textarea disabled class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
							
						<div class="col-12 col-sm-4">
							<div>
								<img v-bind:src="pedido.urlImagem" class="img-thumbnail"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue({
					el: "#ofertas",
					data : {
						pedidos: []
					},
					mounted() {
						axios
							.get('http://localhost:1812/api/pedidos/aguardando')
							.then(response => (this.pedidos = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>